{% extends 'base.html' %}

{% block body %}

<h1>Article Detail</h1>

<p> PK: {{ article.pk }} </p>
<p> 제목: {{ article.title }} </p>
<p> 내용: {{ article.content }} </p>
<p> 생성 시각: {{ article.created_at }} </p>
<p> 수정 시각: {{ article.updated_at }} </p>

<a href="{% url 'articles:index' %}">Index</a>
<a href="{% url 'articles:edit' article.pk %}">Edit</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST"> 
    {% csrf_token %}
    <input type="submit" value = "Delete">
</form>

<!-- 댓글 목록 -->

<h3>댓글 목록 ({{ article.comment_set.all|length }}) </h3> 
<!-- | or .count  -->
<ul>
{% for comment in article.comment_set.all %}
    <li>
        {{ comment.content }} - {{ comment.created_at }}
        <a href="{% url 'articles:comments_edit' article.pk comment.pk %}">Edit</a>
        
        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method = "POST">
            {% csrf_token %}
            <input type="submit" value='Delete'>
        </form>
    </li>
    {% empty %}
    <li> 작성된 댓글이 없습니다 :( </li>
    {% endfor %}
</ul>


<!-- 댓글 입력창 -->
<h3>댓글 입력</h3>
<form action="{% url 'articles:comments_new' article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
</form>

{% endblock %}