{% extends 'base.html' %}

{% block body %}

<h1>Article Detail</h1>

<p> PK: {{ article.pk }} </p>
<p> 제목: {{ article.title }} </p>
<p> 내용: {{ article.content }} </p>
<p> 생성 시각: {{ article.created_at }} </p>
<p> 수정 시각: {{ article.updated_at }} </p>

<a href="{% url 'articles:index' %}">Index</a>
<a href="{% url 'articles:edit' article.pk %}">Edit</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST"> 
    {% csrf_token %}
    <input type="submit" value = "Delete">
</form>
{% endblock %}